

.imagen {
    text-align: center;
}

main {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
}

p {
    padding: 50px;
}

body {
    font-family: Verdana;
}

h1 {
    text-align: center;
    font-size: 40pt;
    font-weight: lighter;
    font-family: serif;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    font-size: 10pt;
}

a {
    color: black;
}

li {
    list-style-type: " - ";
}
